target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### web-ui ###
web-ui/.vscode
web-ui/node_modules/
web-ui/dist/
web-ui/npm-debug.log*
web-ui/yarn-debug.log*
web-ui/yarn-error.log*
web-ui/package-lock.json
web-ui/tests/**/coverage/

### springboot ###
*/.idea/
*/.idea
*/target
*/*.log
*/*.tmp
*/*.gz
*/*.iml
*/.mvn
*/*.ipr
*/**/application-test.yml
